<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AutarquiaMunicipal</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Configuração do JSF/Facelets -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>  
    	<param-name>javax.faces.PROJECT_STAGE</param-name>  
    	<param-value>Development</param-value>  
  	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>


	<!-- Configuração do Primefaces -->
	<context-param>
    	<param-name>primefaces.THEME</param-name>
    	<param-value>blitzer</param-value>
  	</context-param>
  	<context-param>
    	<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
    	<param-value>6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR</param-value>
  	</context-param>
  	<context-param>
    	<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
    	<param-value>6LfwZwoAAAAAAI-oUHpdvRnkMfu9fXQHxc0P7IBu</param-value>
  	</context-param>


	<!-- Configuração do Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml,
			/WEB-INF/applicationContext-security.xml
		</param-value>
	</context-param>

	<!-- Interceptando todas as requisições à aplicacão do Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Inicializando o contexto do Spring --> 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Delegando para o Spring o controle sobre o ciclo de vida do ManagedBeans -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- Login filter -->
	<!-- <session-config>
		<session-timeout>3</session-timeout>
	</session-config> 
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>amc.scda.security.session.LoginFilter</filter-class> 
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/restricted/*</url-pattern> 
	</filter-mapping> -->
	
	<error-page>
    	<exception-type>javax.faces.application.ViewExpiredException</exception-type>
    	<location>/publico/session/viewExpired.jsf</location>
  	</error-page>
	<error-page>
    	<error-code>404</error-code>
    	<location>/publico/error/404.jsf</location>
	</error-page>
	<error-page>
    	<error-code>505</error-code>
    	<location>/publico/error/505.jsf</location>
	</error-page>
	
	<filter>  
   		<filter-name>SetCharacterEncodingFilter</filter-name>  
   		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
   		<init-param>  
       		<param-name>encoding</param-name>  
       		<param-value>UTF8</param-value>  
   		</init-param>  
   		<init-param>  
       		<param-name>forceEncoding</param-name>  
       		<param-value>true</param-value>  
   		</init-param>  
	</filter>  
	<filter-mapping>  
   		<filter-name>SetCharacterEncodingFilter</filter-name>  
   		<url-pattern>/*</url-pattern>  
	</filter-mapping>

</web-app>